@charset "UTF-8";
/* Setup */
/*


#61758C , #A2C5E5 , #CFE2EF , #1C1D26
#4A4E4B , #D3D6D0 , #A8AEA7 , #9EA2A4
#E6E6E6 , #343434 , #949494 , #8C8C8C
#3E4749 , #BCB4AB , #9A9C97 , #929394
#2C3B44 , #B9C9DA , #91ACC1 , #7A96AB
#0A0708 , #444444 , #747474 , #B1B1B1

background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);

*/
/*
$dark-text-colour: #dcdcdc;
$dark-text-colour-mid:  #a9a9b3;
$dark-background-colour: #232425;
$dark-background-colour-contrast: #3b3d42;

$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-header: #fafafa;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

$dark-background: #232425;
$dark-background-secondary: #3b3d42;
$dark-background-header: #1b1c1d;
$dark-color: #a9a9b3;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100%;
  overflow-x: hidden;
  overflow-wrap: normal;
  word-break: break-word; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #222;
  background-color: #fff; }

a.disguised {
  color: #222 !important;
  text-decoration: none; }

a,
a:visited,
a:hover,
a:active {
  color: #999; }

h1,
h2,
h3 {
  line-height: 1.2; }

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#page-content {
  flex: 1 0 auto;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0 50px;
  width: 750px; }
  @media (max-width: 750px) {
    #page-content {
      max-width: 100vw;
      width: auto;
      margin: 0; } }
.separated-items .separated-item:not(:last-child)::after {
  content: "•";
  padding: 0 5px; }
  @media (max-width: 684px) {
    .separated-items .separated-item:not(:last-child)::after {
      margin: auto;
      content: "";
      padding: 0;
      display: block; } }
.separated-item > i {
  padding: 0 5px; }

div.highlight pre {
  white-space: pre-wrap;
  word-break: break-word;
  border-radius: 4px;
  padding: 10px; }

figcaption {
  padding-top: 5px;
  text-align: center; }

figure {
  max-width: 90%;
  min-width: 50%; }

figure > img {
  border-radius: 4px; }

@font-face {
  font-family: "kanzlei";
  /* font-style: normal;
    font-weight: normal;
    font-display: auto; */
  src: url("../fonts/decorative/kanzlei.ttf") format("truetype"); }

#top-nav {
  width: 100%; }

#top-nav nav {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 0 50px;
  width: 750px;
  z-index: 5; }
  @media (max-width: 750px) {
    #top-nav nav {
      max-width: 100vw;
      width: auto;
      margin: 20px 0; } }
.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.nav-item {
  margin-right: 1rem; }

.nav-item:last-of-type {
  margin-right: 0; }

.nav-logo {
  margin-right: 1rem !important; }

.nav-link {
  color: #222 !important;
  font-weight: bolder !important;
  text-decoration: none;
  width: 100%;
  font-size: 1.25rem; }

.nav-link:hover {
  text-decoration: underline; }

@media (max-width: 750px) {
  .nav-normal {
    display: none; } }

@media (max-width: 750px) {
  .nav-logo {
    visibility: hidden;
    width: 0;
    height: 0; } }

.hamburger-container {
  visibility: hidden;
  width: 2rem; }
  @media (max-width: 750px) {
    .hamburger-container {
      visibility: inherit; } }
#popout-nav-toggle {
  position: absolute;
  display: block;
  height: 2rem;
  width: 2rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer; }

#dark-mode-toggle {
  z-index: 10000;
  position: relative;
  margin-bottom: 0.5em; }

.overlay {
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 0;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  white-space: nowrap; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay-content span {
  display: block;
  margin: auto;
  padding: 1em; }

.hamburger-container .hamburger-lines {
  display: block;
  height: 1.25em;
  width: 1.5em;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }

.hamburger-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #222; }

.hamburger-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out; }

.hamburger-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out; }

.hamburger-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out; }

.hamburger-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0); }

.hamburger-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg); }

.hamburger-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0); }

.hamburger-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg); }

.hamburger-container input[type="checkbox"]:checked ~ .logo {
  display: none; }

footer {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
  color: #999;
  flex-grow: 0;
  text-align: center;
  padding: 15px 0; }

#index-splash-background {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  background-image: url("/images/light-background.jpg"); }

#index-splash-title {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  text-align: center; }

#index-splash-title > img {
  max-width: 5em;
  border-radius: 100%;
  font-size: 2em;
  margin-bottom: -10px; }

#index-splash-title > h1 {
  font-size: 2em;
  margin-bottom: -10px; }

#index-splash-icons i {
  color: #222 !important;
  font-size: 1.5em;
  padding: 0 5px; }

#page-flex-wrapper {
  flex: 1 0 auto; }

header > h1 {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold; }

.highlight > div {
  border-radius: 5px; }

header > .post-meta {
  margin: -15px 0 50px 0; }

.post-list {
  margin-left: -2em; }

.post-list > hr {
  border: 1px dashed;
  margin-top: -1em; }

.post-list .separated-items {
  font-size: 0.8em; }

ul > .post-meta {
  margin: -1em 0 0.5em 0; }

ul .pagination {
  list-style-type: none;
  text-align: center;
  padding: 0; }

ul .pagination > li {
  padding: 0 8px;
  display: inline-block; }

article.dropcap > p:first-child {
  min-height: 4em; }

article.dropcap > p:first-child:first-letter {
  float: left;
  font-family: kanzlei;
  font-size: 75px;
  line-height: 60px;
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 3px; }

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.projects-cards > li {
  display: flex;
  margin: 0 auto 1em auto; }
  @media (min-width: 750px) {
    .projects-cards > li {
      width: 50%;
      padding-right: 1em; } }
.project-card {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.project-card-content {
  margin: 1em; }

.project-card-title {
  font-size: 1.2em;
  font-weight: bold; }

.project-card-date {
  font-style: italic;
  font-size: 0.7em;
  margin-top: -0.5em; }

.admonition {
  line-height: 18px;
  overflow: hidden;
  padding: 12px;
  margin-bottom: 1em; }

.admonition-title {
  font-weight: bold;
  padding-bottom: 0.5em; }

.note {
  background-color: #f0f7fb;
  border-left: solid 4px #3498db; }

.warning {
  background-color: #fffeec;
  border-left: solid 4px orange; }

.error {
  background-color: #fffbfb;
  border-left: solid 4px red; }
