#splash,
.atlas-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
#splash {
    > * {
        margin: 0.5rem;
    }
    * a {
        text-decoration: none;
    }
    * span {
        display: inline-block;
    }
}
.atlas-menu {
    line-height: 2.5em;
    list-style: none;
    padding-left: 0;
    font-size: 2em;
}
.atlas-menu, .nav-menu {
    font-weight: bolder !important;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    font-size: 1.25em;
}
.nav-item {
    margin-right: 1em;
}
.nav-item:last-of-type {
    margin-right: 0;
}
.nav-item > a, .atlas-menu * a {
    text-decoration: none;
}
.nav-item > a:hover, .atlas-menu * a:hover {
    text-decoration: underline;
}
.nav-home {
    flex-grow: 2;
}
@media (max-width: 450px) {
    .nav-elided {
        display: none;
    }
}

.post-list {
    list-style: none;
    padding-left: 0;
    * hr {
        margin-top: -0.75em;
        border: 1px dashed;
    }
}
.post-year-list {
    list-style: none;
    * h3 {
        margin-bottom: 0.25em;
    }
}
