// main {}

footer, #splash {
    text-align: center;
}

// #splash {}

// nav {}

.atlas-menu {
    list-style: none;
    text-align: center;
    line-height: 3em;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.nav-item {
    margin-right: 1em;
    :last-of-type {
        margin-right: 0;
    }
}

.nav-item > a {
    font-weight: bolder !important;
    text-decoration: none;
    font-size: 1.25em;
}
.nav-item > a:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {
    .nav-elided {
        display: none;
    }
}
