// Improve the code blocks
div.highlight pre {
    white-space: pre-wrap;
    word-break: break-word;
    border-radius: 5px;
    padding: 10px;
}


// Centre figures and figure captions
figure {
    margin: 0;
    text-align: center;
}

figure > img {
    border-radius: 5px;
    max-width: 100%;
    min-width: 50%;
}


// https: //www.madcapsoftware.com/blog/css-tip-creating-styled-boxes-notes-warnings-examples-tips/
// https://boundedinfinity.github.io/2017/09/admonitions-in-css/
// https://pinetools.com/darken-color
.admonition {
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
    margin-bottom: 1em;
}

.admonition-title {
    font-weight: bold;
    padding-bottom: 0.5em;
}

.note {
    border-left: solid 4px #3498db;
    background-color: #f0f7fb;
    @media (prefers-color-scheme: dark) {
        background-color: #14384d;
    }
}

.warning {
    border-left: solid 4px orange;
    background-color: #fffeec;
    @media (prefers-color-scheme: dark) {
        background-color: #625d00;
    }
}

.error {
    border-left: solid 4px red;
    background-color: #fffbfb;
    @media (prefers-color-scheme: dark) {
        background-color: #650000;
    }
}

// quote version in grey?
