@charset "UTF-8";


$text-colour: #222;
$text-colour-mid: #999;
$background-colour: #fff;
$background-colour-contrast: #333;
$box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

$soft-font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto",
  "Segoe UI", Helvetica, Arial, sans-serif;

$page-content-width: 750px;
$popout-nav-width: 250px;
$min-gutter-width: 50px;
$item-border-radius: 4px;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";


/*


#61758C , #A2C5E5 , #CFE2EF , #1C1D26
#4A4E4B , #D3D6D0 , #A8AEA7 , #9EA2A4
#E6E6E6 , #343434 , #949494 , #8C8C8C
#3E4749 , #BCB4AB , #9A9C97 , #929394
#2C3B44 , #B9C9DA , #91ACC1 , #7A96AB
#0A0708 , #444444 , #747474 , #B1B1B1

background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);

*/

/*
$dark-text-colour: #dcdcdc;
$dark-text-colour-mid:  #a9a9b3;
$dark-background-colour: #232425;
$dark-background-colour-contrast: #3b3d42;

$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-header: #fafafa;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

$dark-background: #232425;
$dark-background-secondary: #3b3d42;
$dark-background-header: #1b1c1d;
$dark-color: #a9a9b3;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;
*/
