@charset "UTF-8";


$text-colour: #222;
$text-colour-mid: #999;
$background-colour: #fff;
$background-colour-contrast: #333;

$soft-font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto",
  "Segoe UI", Helvetica, Arial, sans-serif;

$page-content-width: 750px;
$popout-nav-width: 250px;
$min-gutter-width: 50px;

$item-border-radius: 4px;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";


/*
$dark-text-colour: #dcdcdc;
$dark-text-colour-mid:  #a9a9b3;
$dark-background-colour: #232425;
$dark-background-colour-contrast: #3b3d42;

$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-header: #fafafa;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

$dark-background: #232425;
$dark-background-secondary: #3b3d42;
$dark-background-header: #1b1c1d;
$dark-color: #a9a9b3;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;
*/
