.projects-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.projects-cards > li {
    display: flex;
    margin: 0 auto 1em auto;
    @media (min-width: $page-content-width) {
        width: 50%;
        padding-right: 1em;
    }
}

.project-card {
    width: 100%;
    border-radius: $item-border-radius;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-card-content > h3 {
    margin: 1em;
}
