{{ define "main" }}

<!-- Display _index.md if available -->
{{ if .Content }}
    {{ partial "single" . }}
{{ end }}

<!-- List all pages -->
<h1>Posts</h1>

<ul id="post-list">
    {{ range (where .Site.RegularPages "Type" "in" (slice "posts")).GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <hr>
    <ul>
      {{ range .Pages }}
        <h3><a href="{{ .RelPermalink }}">
            {{- .Title | markdownify }}
        </a></h3>
        {{ partial "post_meta.html" . }}
      {{ end }}
    </ul>
    {{ end }}
</ul>

{{ end }}
