
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" sizes="any" type="image/x-icon">
    <!--<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">-->
    <title>
        {{- block "title" . -}}
            {{ .Title}} {{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>

    {{ $scss := resources.Get "scss/main.scss" }}
    {{ $style := $scss | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ if .Param "math" }}
        {{ partialCached "math.html" . }}
    {{ end }}
