<ul class="nav-menu">
    <li class="nav-item nav-home">
        <a href="{{ .Site.BaseURL | relLangURL }}">Home</a>
    </li>

    {{- range (first (sub (len .Site.Menus.main) 1) .Site.Menus.main ) -}}
            <li class="nav-item nav-elided">
                <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
            </li>
    {{ end }}

    <li class="nav-item">
        {{- with (index (.Site.Menus.main.Reverse) 0) -}}
            <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
        {{ end }}
    </li>
</ul>
