{{ block "footer" . }}
<footer id="footer">
    <!-- Display links if available -->
    <div class="separated-items">
        <span class="separated-item">© {{ dateFormat "2006" now }}</span>
        {{ if .Site.Params.footer.author }}
        <span class="separated-item">
            <a href="{{ .Site.Params.author_url | safeURL }}">{{ .Site.Params.author | markdownify }}</a>
        </span>
        {{ end }}
        {{ if .Site.Params.footer.license }}
        <span class="separated-item">
            <a href="{{ .Site.Params.license_url | safeURL }}">{{ .Site.Params.license | markdownify }}</a>
        </span>
        {{ end }}
    </div>
</footer>
{{ end }}
