
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" sizes="any" type="image/x-icon">
    <title>
        {{- block "title" . -}}
            {{ .Title}} {{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>
    {{- $css := resources.Get "css/styles.css" -}}
    {{ $style := $css  | resources.Minify }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
