<span class="nav-item">
    <a href="{{ .Site.BaseURL | relLangURL }}">Home</a>
</span>

<ul class="nav-menu">
    {{- range .Site.Menus.main -}}
        {{ if (le .Weight 2)}}
            <li class="nav-item nav-elided">
                <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
            </li>
        {{ end }}
    {{ end }}

    <li class="nav-item">
        {{- with (index (.Site.Menus.footer) 0) -}}
            <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
        {{ end }}
    </li>
</ul>
