{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "datefmt") }}

<div class="post-meta">
    <!-- Display the date if set -->
    <div class="separated-items">
        {{- if not .Date.IsZero -}}
            <span class="separated-item">
                <i class="bi bi-calendar"></i>
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $dateFormat }}</time>
            </span>
        {{- end -}}
        {{- if or (not (isset .Params "show_reading_time")) .Params.show_reading_time -}}
            {{ $reading_time := math.Ceil (div (countwords .Content) 220.0) }}
            <span class="separated-item"><i class="bi bi-clock"></i>{{ $reading_time }} minute{{ if (ne $reading_time 1.0) }}s{{ end }}</span>
        {{- end -}}
    </div>

    <!-- Display taxonomies
    {{- range $taxo, $taxonomy := .Site.Taxonomies }}
        {{- $elems := $.Param $taxo }}
        {{- if $elems }}
            {{ $taxo | humanize }} &#x5b;
            {{- range $name := $elems }}
                {{- with $.Site.GetPage (lower (printf "/%s/%s" $taxo (urlize $name))) }}
                    <a href="{{ .Permalink }}">{{ $name }}</a>
                {{- end }}
            {{- end }}
            &#x5d;
        {{- end }}
    {{- end }} -->
</div>
